<h1>Sign up</h1>

<%= form_for :user, url: register_path do |f| %>

  <%= render '/views/_errors' %>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "register" %>
  </p>

<% end %>
