<h1>Sign up</h1>

<%= form_for :user, url: signup_path do |f| %>

    <% if @errors %>
    <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "register" %>
  </p>

<% end %>
