<%= form_for :answer, url: answers_path do |f| %>

  <% if @errors%>
    <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :content, "Answer" %>
    <%= f.text_field :content %>
  </p>

  <p>
    <%= f.hidden_field :question_id, value: question.id %>
  </p>

  <p>
    <% if logged_in? %>
      <%= f.hidden_field :answerer_id, value: current_user.id %>
    <% end %>
  </p>

  <p>
    <%= f.submit "Post Answer" %>
  </p>

<% end %>
